body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}


main{
  box-sizing: border-box;
}

.container{
  width:950px;
  height: 650px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


/* lavoro sul logo centrandolo nel contenitore */
.logop{
width: 200px;
margin: auto;
margin-top: 50px;

}

/* cambio colore al titolo e lo posiziono al centro */
.titolo{
  color: #00FF00;
  text-align: center;
  margin-bottom: auto;

}


.navprinc{
  text-align: center;
  background-color: #00FF00;
  padding: 5px;
  margin-left: 100px;
  margin-right: 100px;
}


#bottoni{
  font-size: 10px;
}


.blocchi{
color: white;
margin-left: 100px;
margin-top: 30px;
}

span{
  font-size: 20px;
  /* font-family: nome del font da utilizzare  */
}


.evidence1{
  padding: 5px;
  background-color: orange;
  border-radius: 5px;
  width: 250px;
  height: 15px;
}

.evidence2{
  padding: 5px;
  background-color: #00FF00;
  border-radius: 5px;
  width: 400px;
  height: 15px;
}

.evidence3{
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  width: 100px;
  height: 15px;
}
